* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
  font-family: lcd;
  src: url(../font/SUBWT___.ttf);
}

html {
    font-size: 62.5%;
}

main input{
    width: 100%;
    font-size: 8rem;
    margin-bottom:10px;
    background-color: black;
    color: green;
    text-align: right;
    padding: 10px 4px 10px 4px;
    font-family: lcd;
    border: 1px solid yellow;
    border-radius:4px;
}

button {
    font-size: 14rem;
    border-radius: 1rem;
}

button:hover {
    color: green;
    font-weight: bolder;
}

#comma, #enter, #add, #sub, #mul, #div, #clear {
    color: aqua;
}

main section#keyBoard {
    display: grid;
}