* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
}

html {
    height: 100%;
}

@font-face {
  font-family: lcd;
  src: url(../font/SUBWT___.ttf);
}

html {
    font-size: 62.5%;
}

main input{
    width: 100%;
    font-size: 8rem;
    background-color: black;
    color: limegreen;
    text-align: right;
    padding: 10px 4px 10px 4px;
    font-family: lcd;
    border: 1px solid limegreen;
    border-radius:4px;
}

button {
    font-size: 8rem;
    border-radius: 1rem;
    padding: 3.5rem;
}

button:hover, #comma:hover, #enter:hover, #add:hover, #sub:hover, #mul:hover, #div:hover, #clear:hover {
    color: green;
    font-weight: bolder;
}

#comma, #enter, #add, #sub, #mul, #div, #clear {
    color: aqua;
}

main section#keyBoard {
    display: grid;
    height: 100%;
}